*.iml
.attach_pid*
.gradle/
.idea/
.ipynb_checkpoints/
.nfs*
binderhub/secret.yaml
binderhub/dind/certs.d/
ca-certificates/
!ca-certificates/README.txt
data/
env/
jupyterhub/secret.yaml
lib/
!lib/README.txt
out/
pravega-gateway/build
pravega-gateway/env
pravega-gateway/src/main/python/pravega.egg-info
spark_processor/env
streaming_data_generator/env
